:host {
  width: 100%;
  background-color: var(--white);
  height: 80px;
  border-bottom: 1px solid var(--grey-200);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  grid-area: header;
  overflow: hidden;
  box-sizing: border-box;

  .header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &__logo {
      height: 50px;
      margin-left: 24px;
    }
  }

  .header-items-container {
    display: flex;
    height: 100%;
    padding: 0;
    align-items: center;

    &__profile-menu {
      width: auto;
    }
    
    &__profile-image {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 5px;
    }

    &__profile-menu:hover {
      cursor: pointer !important;
    }
  }
}

@media (max-width: 650px) {

  .header-items-container{
    &__user-name, mat-icon{
        display: none;
    }
  }
}
