:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.not-found {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 570px;
    margin: 16px;
    h1 {
        font-weight: bold;
    }

    &__go-back {
      background: var(--albiorix);
      color: var(--white);
    }
}

@media screen and (max-width: 550px) {
    .not-found {
        align-items: center;
        text-align: center;
    }
}