<app-layout-container>
    <div class="login-container">
        <h2 class="login-container__heading">Log in to your account</h2>
        <div class="login-container__login-form panel">
            <form [formGroup]="form" (ngSubmit)="login()">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="f['email'].hasError('required')">
                        Please enter your email
                    </mat-error>
                    <mat-error *ngIf="f['email'].hasError('pattern')">
                        Please enter valid email
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="f['password'].hasError('required')">
                        Please enter your password
                    </mat-error>
                    <mat-error *ngIf="f['password'].hasError('minlength')">
                        Password should be atleast 8 characters
                    </mat-error>
                    <mat-error
                        *ngIf="!f['password'].hasError('required') && !f['password'].hasError('minlength') && f['password'].hasError('passwordStrength')">
                        {{f['password'].errors?.['passwordStrength']}}
                    </mat-error>
                </mat-form-field>
                <div class="login-container__actions">
                    <button mat-raised-button>Login</button>
                </div>
            </form>
            <a [routerLink]="['/forgot-password']" class="login-container__forgot-password">Forgot your password?
            </a>
        </div>

        <div>
            Don't have a account yet?
            <a [routerLink]="['/signup']">Sign up here
            </a>
        </div>
    </div>
</app-layout-container>