.login-container {
  text-align: center;
  margin-top: 54px;
  padding: 24px;

  &__heading {
    color: var(--albiorix);
    font-size: 1.25rem;
    margin-bottom: 32px;
  }

  &__login-form {
    display: inline-block;
    margin-bottom: 16px;

    mat-form-field {
      width: 100%;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    button {
      background: var(--albiorix);
      color: var(--white);
    }
  }

  &__forgot-password {
    float: left;
  }
}