.itemLink {
    padding:12px 8px;
    width: 100%;
    clear: both;
    text-decoration: none;
    color: var(--grey-500);
    padding-right: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    position: relative;
    border-radius: 0px 24px
     24px 0px;
    overflow: hidden;

    div {
      display: flex;
      align-items: center;

      mat-icon {
        z-index: 1;
        margin-right: 8px;
      }
    }

    &:hover, &.selected {
      background: var(--albiorix);
      color: var(--white);
    }

    &.subNav {
      padding-top: 10px;
      display: flex;
      justify-content: center;
    }
  }