<div class="itemList">
  <ng-container *ngFor="let menuItem of menuItems">
    <a class="itemLink" *ngIf="!menuItem?.subItems; else subNavMenus" [routerLink]="menuItem.link"
      routerLinkActive="active" (click)="expandOrCollapse(menuItem)">
      <div>
        <mat-icon>{{menuItem.icon}}</mat-icon>{{menuItem.string}}
      </div>
    </a>
    <ng-template #subNavMenus>
      <a class="itemLink" (click)="expandOrCollapse(menuItem)">
        <div>
          <mat-icon>{{menuItem.icon}}</mat-icon>{{menuItem.string}}
        </div>
        <div>
          <mat-icon> {{ !menuItem.expanded ?
            'expand_more': 'expand_less'}}</mat-icon>
        </div>
      </a>
      <ng-container *ngIf="menuItem.expanded">
        <app-menu-item [menuItems]="menuItem?.subItems!"></app-menu-item>
      </ng-container>
    </ng-template>
  </ng-container>
</div>
<mat-divider></mat-divider>