<ng-container *ngFor="let menu of subMenus">
    <a [routerLink]="menu.link" class="itemLink subNav">
      <div>
        <mat-icon>{{menu.icon}}</mat-icon>{{menu.string}} {{menu.expanded}}
        <mat-icon *ngIf="menu?.subItems" (click)="menu.expanded = !menu.expanded"> {{ !menu.expanded ? 'expand_more': 'expand_less'}}</mat-icon>
      </div>
    </a>
    <ng-container *ngIf="menu.expanded">
      <app-menu-item [subMenus]="menu.subItems"></app-menu-item>
    </ng-container>
  <mat-divider></mat-divider>
</ng-container>