<footer *ngIf="!showFullFooter" id="compactFooter">
    <p>Important Notice: While we verify certain key information (police checks, key qualifications, references) during the on-boarding of each Support Worker, Support Worker’s represent other information about themselves to customers via their profiles that we do not independently verify. In exercising your choice of Support Worker(s) and booking them directly, we recommend that you check their credentials and original documents when you first meet them and provide ongoing supervision. We recommend that Support Workers take a file of their key documents with them to their first meeting.</p>
</footer>

<footer *ngIf="showFullFooter" id="fullFooter">
    <div id="footerLinksWrapper">
        
        <div id="logoAndDownloadWrapper">
            <a href="https://mable.com.au">
                <img src="assets/images/logo-banner.svg" alt="Go to Mable Homepage" id="mableLogo">
            </a>
            <p>Download the Mable App for your smartphone</p>
            <div id="appIcons">
                <a href="https://apps.apple.com/au/app/mable-find-support-people/id1273035507"
                aria-label="Download the Mable app from the Apple App Store" target="blank">
                <img src="assets/images/consumer-dashboard-images/download-app-store.svg">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.ionicframework.bettercaring45581069&hl=en_AU"
            aria-label="Download the Mable app from Google Play" target="blank">
            <img src="assets/images/consumer-dashboard-images/download-play-store.svg">
        </a>
    </div>
</div>

<div id="linkCols">
    <div>
        <div class="bold">How it works</div>
        <ul>
            <li>
                <a href="https://mable.com.au/aged-care/">Aged Care</a>
            </li>
            <li>
                <a href="https://mable.com.au/home-care-package/">Home Care Package</a>
            </li>
            <li>
                <a href="https://mable.com.au/disability-support/">NDIS &amp; Disability Care</a>
            </li>
            <li>
                <a href="https://mable.com.au/coordinators-and-organisations/">Coordinators &amp; Organisations</a>
            </li>
            <li>
                <a href="https://mable.com.au/support-workers/">Support Workers</a>
            </li>
            <li>
                <a href="https://mable.com.au/code-of-conduct/">Code of Conduct</a>
            </li>
        </ul>
    </div>
    
    <div>
        <div class="bold">About</div>
        <ul>
            <li>
                <a href="https://mable.com.au/our-story/">About Mable</a>
            </li>
            <li>
                <a href="https://mable.com.au/safeguards/">Safeguards</a>
            </li>
            <li>
                <a href="https://mable.com.au/testimonials/">Testimonials</a>
            </li>
            <li>
                <a href="https://blog.mable.com.au/blog/category/media/">In the News</a>
            </li>
            <li>
                <a href="https://help.mable.com.au/events/">Events</a>
            </li>
            <li>
                <a href="https://mable.com.au/pricing/">Pricing</a>
            </li>
            <li>
                <a href="https://mable.com.au/terms-of-use/">Terms of Use</a>
            </li>
        </ul>
    </div>
    
    <div>
        <div class="bold">Help</div>
        <ul>
            <li>
                <a href="https://blog.mable.com.au/contact-us/">Contact Us</a>
            </li>
            <li>
                <a href="https://mable.com.au/faqs/">FAQs</a>
            </li>
            <li>
                <a href="https://help.mable.com.au">Help Centre</a>
            </li>
            <li>
                <a href="https://mable.com.au/our-policies/">Our Policies</a>
            </li>
            <li>
                <a href="https://mable.com.au/insurance/">Insurance</a>
            </li>
            <li>
                <a href="https://mable.com.au/accessibility/">Accessibility</a>
            </li>
            <li>
                <a href="https://mable.recruitee.com/">Careers</a>
            </li>
        </ul>
    </div>
    
    
</div>
</div>

<div id="footerMainCopy">
    <p>
        Mable facilitates connections between independent workers and people who require their services, but does not employ or retain the workers, and does not supervise the arrangements made between workers and those requiring their services. Use of the Mable platform should be considered in accordance with our Terms of Use and Privacy Policy available on this site.
    </p>

    <p>
        Mable conducts certain checks and verifications on independent workers before they are approved, but we do not guarantee the accuracy of the information provided by them. Accordingly, in exercising your choice of care worker and booking them directly, we recommend that you check their credentials and original documents when you first meet them and provide ongoing supervision. We recommend that care workers take a file of their key documents with them to their first meeting.
    </p>

    <p class="bold">
        &copy; {{copyrightYear}} Mable Technologies Pty Ltd – All rights reserved.
    </p>
</div>
</footer>