.copy-right-footer {
  font-size: 12px;
  float: right;
}
.full-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  background-color: #dfdada;
  box-sizing: border-box;
  color: #424242;
  align-items: center;
  padding: 15px;
  
   .footer-links {
    a {
      text-decoration: none;
      font-size: 16px;
      margin-left: 15px;
      font-weight: 500;
    }
  }
}
