.bodyContainer {
  display: flex;
  width: 100%;
  height: auto;

  &.navCollapse {
    width: calc(100% + 250px);
    margin-left: -250px;
    transition: margin-left 150ms ease-out;
    nav {
      visibility: hidden;
      transition: visibility 500ms 500ms;
    }
  }
  &.navExpand {
    transition: margin-left 150ms ease-out;
    margin-left: 0; 

    nav {
      visibility: visible;
      transition: none;
    }
  }

  nav {
    width: 250px;
    min-width: 250px;
    background-color: var(--white);
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    // color: var(--grey-50);

    .menuSection {
      width: calc(100% - 24px);
      padding: 16px 0;
      padding-left: 0;
      box-sizing: border-box;
      position: relative;
    }
  }

  .contentWrapper {
    min-height: calc(100vh - 80px);
    width: calc(100% - 250px);
    min-width: 320px;
    flex: 1;
    padding: 16px;

    .content {
      min-height: 100%;
      box-sizing: border-box;
    }
  }
}

@media (max-width: 650px) {
  .mainContent {
    overflow: hidden;
    max-width: 100vw;
  }
}
